absl-py==0.9.0
appdirs==1.4.3
astor==0.7.1
beautifulsoup4==4.8.1
blis==0.4.1
bokeh==1.4.0
boto==2.49.0
boto3==1.10.27
botocore==1.13.27
bs4==0.0.1
catalogue==1.0.0
certifi==2019.9.11
chardet==3.0.4
Click==7.0
cssmin==0.2.0
cssselect==1.1.0
cycler==0.10.0
cymem==2.0.3
decorator==4.4.1
docutils==0.15.2
en-core-web-sm==2.2.5
et-xmlfile==1.0.1
fake-useragent==0.1.11
Flask==1.1.1
Flask-Assets==2.0
Flask-Login==0.5.0
Flask-PyMongo==2.3.0
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.2
gast==0.2.2
GDAL==2.4.2
gensim==3.8.1
google-pasta==0.1.8
grpcio==1.15.0
h5py==2.10.0
idna==2.8
importlib-metadata==1.6.0
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.10.3
jmespath==0.9.4
joblib==0.14.0
jsmin==2.2.2
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
krippendorff==0.3.2
lesscpy==0.14.0
lxml==4.4.2
Markdown==2.6.11
MarkupSafe==1.1.1
matplotlib==3.1.2
mock==4.0.2
murmurhash==1.0.2
network==0.1
networkx==2.4
nltk==3.4.5
numpy==1.17.4
openpyxl==3.0.2
opt-einsum==3.2.0
packaging==19.2
pandas==0.25.3
parse==1.12.1
Pillow==8.1.1
plac==1.1.3
ply==3.11
preshed==3.0.2
protobuf==3.6.1
pyee==6.0.0
pymongo==3.10.1
pyparsing==2.4.5
pyppeteer==0.0.25
PyQt5==5.11.3
PyQt5-sip==4.19.19
pyquery==1.4.1
pyrouge==0.1
python-dateutil==2.8.0
python-dotenv==0.10.5
pytz==2019.3
pywsd==1.2.4
PyYAML==5.1.2
regex==2019.11.1
requests==2.22.0
requests-html==0.10.0
s3transfer==0.2.1
scikit-learn==0.21.3
scipy==1.3.3
selenium==3.141.0
six==1.11.0
sklearn==0.0
smart-open==1.9.0
soupsieve==1.9.5
spacy==2.2.4
SQLAlchemy==1.3.15
srsly==1.0.2
tensorboard==1.15.0
tensorflow==1.15.0
tensorflow-estimator==1.15.1
termcolor==1.1.0
thinc==7.4.0
tornado==6.0.3
tqdm==4.39.0
treetaggerwrapper==2.3
urllib3==1.25.7
w3lib==1.21.0
wasabi==0.6.0
webassets==2.0
websockets==8.1
Werkzeug==0.16.1
wn==0.0.23
wrapt==1.12.1
WTForms==2.2.1
xlrd==1.2.0
XlsxWriter==1.2.6
zipp==3.1.0
