<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href={{url_for("static", filename="foundation-icons/foundation-icons.css")}} />
    <link rel="stylesheet" href={{url_for("static", filename='foundation/css/foundation.css')}} />
    <link rel="stylesheet" href={{url_for("static", filename='foundation/css/app.css')}} />
    <link rel="stylesheet" href={{url_for("static", filename="base.css")}} />
    <link rel="stylesheet" href={{url_for("static", filename="indicators.css")}} />
</head>
<body>

<div class="grid-container fluid">

    <div class="grid-x align-center">
        <div class="cell large-1"></div>
        <div class="cell large-10">

            <div class="grid-x align-center">
                <div class="cell large-12">
                    <img src={{url_for("static", filename="WOODIE_large.jpg")}} id="woodie"/>
                </div>
            </div>

            <div class="top-bar" id="navbar">
                <div class="top-bar-left">
                    <ul class="dropdown menu" data-dropdown-menu>
                        <li><a href={{url_for("main_bp.home")}}>
                            <i class="fi-home" style="font-size:20px;">
                                <label>Homepage</label>
                            </i>
                        </a></li>
                        <li><a href={{url_for("main_bp.compile_soft")}}>
                            <i class="fi-pencil" style="font-size:20px;">
                                <label>Compila</label>
                            </i>
                        </a></li>
                        <li><a href="#">
                            <i class="fi-torso" style="font-size:20px;">
                                <label>{{current_user.username}}</label>
                            </i>
                            <ul class="menu vertical">
                                <li><a href={{url_for("auth_bp.logout")}}>Logout</a></li>
                            </ul>
                        </a></li>
                    </ul>
                </div>
            </div>

            <div class="grid-x align-center">

                <div class="cell medium-1" id="nav"></div>

                <div class="cell medium-10" id="content">
                    <section class="content">
                        {% block content %}{% endblock %}
                    </section>
                </div>

                <div class="cell medium-1" id="nav"></div>

            </div>

            <div class="grid-x grid-padding-x">
                <div class="cell large-12" id="bottom">
                    <p>
                        <img src={{url_for("static", filename="eu_flag.png")}} id="flag" />
                        The project is founded by the European Union Commission Dg
                        Migration and Home Affairs Internal security Fund Police.
                    </p>
                    <br/>
                    <p> Copyright © 2020, Woodie Project. </p>
                </div>
            </div>

        </div>
        <div class="cell large-1"></div>
    </div>

</div>

<script src={{ url_for("static", filename="foundation/js/vendor/jquery.js") }}></script>
<script src={{ url_for("static", filename="foundation/js/vendor/foundation.js") }}></script>
<script src={{ url_for("static", filename="foundation/js/vendor/what-input.js") }}></script>
<script src={{ url_for("static", filename="foundation/js/app.js") }}></script>
<script src={{ url_for("static", filename="fieldsS.js") }}></script>

</body>
</html>
