{% extends "unlogged_base.html" %}

{% block content %}

<div class="grid-container">

    <form class="log-in-form" method="POST" data-abide novalidate>

        {{ form.hidden_tag() }}

        <div class="grid-x grid-padding-x">
            <div class="cell medium-2"></div>
            <div class="cell medium-8">
                <div class="sign-in-form">

                    <h4 class="text-center">Completa i seguenti campi:</h4>

                    <br/>
                    <br/>
                    <br/>

                    <div class="input-group">
                        <span class="input-group-label">{{form.gender.label.text}}</span>
                        {{form.gender(class='input-group-field')}}
                    </div>

                    <div class="input-group">
                        <span class="input-group-label">{{form.institution.label.text}}</span>
                        {{form.institution(class='input-group-field')}}
                    </div>

                    <div class="input-group">
                        <span class="input-group-label">{{form.type.label.text}}</span>
                        {{form.type(class='input-group-field')}}
                    </div>

                    <div class="input-group">
                        <span class="input-group-label">{{form.size.label.text}}</span>
                        {{form.size(placeholder="number of employees", class='input-group-field')}}
                    </div>

                    <div class="input-group">
                        <span class="input-group-label">{{form.role.label.text}}</span>
                        {{form.role(class='input-group-field')}}
                    </div>

                    <br/>
                    <br/>

                    <div class="grid-x grid-padding-x">
                        <div class="cell small-4"></div>
                        <div class="cell small-4">
                            <button type="submit" class="button">Confirm</button>
                        </div>
                        <div class="cell small-4"></div>
                    </div>

                </div>

                <div class="cell medium-2"></div>

            </div>
        </div>

    </form>

</div>

{% endblock %}